@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.container {
  font-family: 'Pretendard', sans-serif;
  align-items: center;
  background-color: #eaf6ff;
  color: #003366;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  width: 100%;
}

.button {
  background: linear-gradient(to right, #257fbb, #06308a);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px 20px;
  transition: all 0.3s;
}

.button:hover {
  opacity: 0.9;
}

.resultTitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tagWrapper,
.tags,
.matchedTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 12px;
}

.tag {
  background: #d0eaff;
  border-radius: 6px;
  color: #003366;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 4px 8px;
}

.resultDesc {
  font-size: 16px;
}

.events{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.card,
.eventCard {
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  max-width: 400px;
}

.thumb,
.eventImage {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  max-width: 375px;
  width: 100%;
}
.eventContent{
  width: 100%;
}
.info a,
.link {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.root{
  background-color: #eaf6ff;
}
.resultContainer {
  background: #eaf6ff;
  color: #002c4e;
  min-height: 100vh;
  padding: 48px 4px;
  text-align: center;
  max-width: 400px;
  margin: 0px auto;
}
.goToButton{
  background-color: #002c4e;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid gray;
  width: 100%;
  cursor: pointer;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fadeSlide {
  opacity: 0;
  transform: translateX(30px);
  animation: fadeSlideIn 0.7s ease forwards;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.prevButton {
  margin-top: 32px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 4px;
  color: #555;
  border: none;
  cursor: pointer;
  text-decoration: none;
}


.showMoreButton{
  background-color: #e0e0e0;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid rgb(116, 116, 116);
  width: 100%;
  color: black;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.restartButton {
  margin-top: 32px;
  padding: 12px 24px;
  background-color: #17419b;
  border: 1px solid #000000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
